# Data Cleaning for Movie Dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
rating_data=pd.read_csv("ratings.csv")

In [4]:
rating_data.head(10)

  rating_id  user_id  movie_id  rating review_date
0    R10001    15004      1137     4.0  2024-11-01
1    R10002    15017      1208     4.5  2024-11-01
2    R10003    15000      1433     4.0  2024-11-01
3    R10004    15021      2701     3.5  2024-11-01
4    R10005    15035      3710     4.5  2024-11-02
5    R10006    15001      1125     5.0  2024-11-02
6    R10007    15002       269     4.0  2024-11-02
7    R10008    15021      2754     4.5  2024-11-02
8    R10009    15004      2289     5.0  2024-11-02
9    R10010    15019       431     4.5  2024-11-02

In [7]:
rating_data['rating'].value_counts()

rating
 4.500000        6311
 5.000000        6277
 4.000000        5271
 3.500000        3239
 3.000000        2046
 2.500000        1304
 2.000000         756
 1.500000         361
 1.000000         261
 11.000000         80
 0.144758          76
-1.000000          75
-468.000000        75
 15000.000000      73
-5.000000          71
 3.158917          70
 14.000000         68
 4.126476          66
 15.000000         60
Name: count, dtype: int64

In [13]:
rating_data['rating']=rating_data['rating'].apply(lambda x: 5 if x>5 else x)
rating_data['rating']=rating_data['rating'].apply(lambda x: 0 if x<0 else x)

### replacing the values that are greater than 5 with 5 and then less than 0 is replace with 0 because of invalid data so we replaced

In [14]:
rating_data['rating'].value_counts()

rating
5.000000    6558
4.500000    6311
4.000000    5271
3.500000    3239
3.000000    2046
2.500000    1304
2.000000     756
1.500000     361
1.000000     261
0.000000     221
0.144758      76
3.158917      70
4.126476      66
Name: count, dtype: int64

In [16]:
rating_data['rating'] = rating_data['rating'].apply(
    lambda x: round(x * 2) / 2 if pd.notna(x) else x
)

### replacing the values or decimal with the 1 1.5 2 2.5 3 3.5 4 4.5 5

In [17]:
rating_data['rating'].value_counts()

rating
5.0    6558
4.5    6311
4.0    5337
3.5    3239
3.0    2116
2.5    1304
2.0     756
1.5     361
0.0     297
1.0     261
Name: count, dtype: int64

In [19]:
rating_data['rating'].isna().sum()

212

In [27]:
rating_data['rating'].mean()

3.986412230861244

In [23]:
rating_data['rating'] = rating_data['rating'].fillna(rating_data['rating'].mean())

In [24]:
rating_data['rating'] = rating_data['rating'].apply(
    lambda x: round(x * 2) / 2 if pd.notna(x) else x
)

In [25]:
rating_data['rating'].value_counts()

rating
5.0    6558
4.5    6311
4.0    5549
3.5    3239
3.0    2116
2.5    1304
2.0     756
1.5     361
0.0     297
1.0     261
Name: count, dtype: int64

In [26]:
rating_data['rating'].isna().sum()

0

### replaced all the null value with the average value

In [29]:
rating_data.to_csv("rating_modified.csv",index=False)